<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Registration Form</h3>
              <form [formGroup]="registerForm">
  
                <div class="row">
                  <div class="col-md-6 mb-4">
  
                    <div class="form-outline">
                      <input type="text" id="firstName" class="form-control form-control-lg" formControlName="firstName" />
                      <label class="form-label" for="firstName">First Name</label>
                      <p *ngIf="(registerForm.controls['firstName'].dirty ||
                        registerForm.controls['firstName'].touched || 
                        registerForm.controls['firstName'].pristine) &&
                        registerForm.controls['firstName'].errors" class="text-danger">
                      This field is required!
                  </p>
                    </div>
  
                  </div>
                  <div class="col-md-6 mb-4">
  
                    <div class="form-outline">
                      <input type="text" id="lastName" class="form-control form-control-lg" formControlName="lastName" />
                      <label class="form-label" for="lastName">Last Name</label>
                      <p *ngIf="(registerForm.controls['lastName'].dirty ||
                       registerForm.controls['lastName'].touched|| 
                       registerForm.controls['lastName'].pristine) &&
                       registerForm.controls['lastName'].errors" class="text-danger">
                      This field is required!
                  </p>
                    </div>
  
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mb-4 pb-2">
  
                    <div class="form-outline">
                      <input type="email" id="emailAddress" class="form-control form-control-lg" formControlName="email"/>
                      <label class="form-label" for="emailAddress">Email</label>
                      <p *ngIf="(registerForm.controls['email'].dirty ||
                            registerForm.controls['email'].touched || 
                            registerForm.controls['email'].pristine) &&
                            registerForm.controls['email'].errors" class="text-danger">
                      This field is required!
                  </p>
                    </div>
                    <div class="form-outline mb-3" >
                      <input type="password" id="form3Example4" class="form-control form-control-lg"
                        placeholder="Enter password" formControlName="password"/>
                      <label class="form-label" for="form3Example4">Password</label>
                      <p *ngIf="(registerForm.controls['password'].dirty ||
                            registerForm.controls['password'].touched || 
                            registerForm.controls['password'].pristine) &&
                            registerForm.controls['password'].errors" class="text-danger">
                      This field is required!
                  </p>
                    </div>
  
                  </div>
                  <div class="col-md-6 mb-4 pb-2">
  
                    <div class="form-outline">
                      <input type="tel" id="phoneNumber" class="form-control form-control-lg" formControlName="phoneNumber" />
                      <label class="form-label" for="phoneNumber">Phone Number</label>
                      <p *ngIf="(registerForm.controls['phoneNumber'].dirty ||
                       registerForm.controls['phoneNumber'].touched|| 
                       registerForm.controls['phoneNumber'].pristine) &&
                       registerForm.controls['phoneNumber'].errors" class="text-danger">
                      This field is required!
                  </p>
                    </div>
  
                  </div>
                </div>
                <div class="mt-4 pt-2">
                    <button type="submit" class="btn btn-primary btn-lg" value="Submit" [disabled]="registerForm.invalid" (click)="register()">Submit</button>
                </div>
  
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>